# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# jetbrains IDE
.idea/

# dependencies
/node_modules
/.pnp
.pnp.js

# config
config.development.yaml
config.production.yaml

# certification
/cert

# testing
/test
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# datas
/apps/LAvatar_back/assets/logs
/apps/LAvatar_back/assets/debug

# build
/apps/LAvatar_front/build

# node modules
/**/node_modules

.lh
/.vscode
/tmp
apps/LAvatar_back/test/date.js
/LAvatar_back_config
